<%= form_with(model: pledge, local: true) do |form| %>
  <% if pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
        <% pledge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :max_amount %>
    <%= form.text_field :max_amount %>
  </div>

  <%= form.hidden_field :event_id, value: @event.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
