<p id="notice"><%= notice %></p>

<h1>Events</h1>

  <% @events.each do |event| %>
    <div class="card">
      <div class="card-body">
        <h1><%= event.name %></h1>
        <p><%= event.description %></p>
        <%= link_to 'Show', event %>
        <%= link_to 'Mark as completed', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to  "Pledge", new_pledge_path(id: event.id) %>
         <% event.pledges.each do |pledge| %>
          <div class="card">
            <div class="card-body">
            <p><%= pledge.user.email %> has pledged <%= number_to_currency(pledge.amount) %>          
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<br>

<% if user_signed_in? %>
   <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>

<% if user_signed_in? %>
  <%= button_to 'Add card info', checkout_create_path, method: :post, params: {id: current_user.id}, remote: true %>
<% end %>

<%= link_to 'New Event', new_event_path %>
