<p id="notice"><%= notice %></p>

<h1>Events</h1>

  <% @events.each do |event| %>
    <div class="card">
      <div class="card-body">
        <h1><%= event.name %></h1>
        <p><%= event.description %></p>
        <p><%= event.category %></p>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
      </div>
    </div>
  <% end %>

<br>

<%= link_to 'New Event', new_event_path %>
