<div class="row">
  <div class="col-sm-8 offset-sm-2">

    <div class="d-grid gap-2 pt-5 pb-5 col-6 mx-auto">   
      <%= link_to 'Home', root_path, class: "btn btn-lg btn-dark" %>
    </div>

    <div class="card border-dark">
      <div class="card-header">
        <h3><%= @event.name %></h3>
        <h4>Event created by: <%= @event.user.username %></h4>         
      </div>
      <div class="card-body">
        <h4><%= @event.description %></h4> 
      </div>
    </div>

    <div class="d-grid gap-2 pt-5 pb-5 col-6 mx-auto">
      <% if user_signed_in? && current_user.stripe_customer_id.present? %>
        <%= link_to  "Pledge", new_pledge_path(id: @event.id), class: "btn btn-success btn-lg mt-3 mb-3" %>
      <% end %>
    </div>   

    <div class="card border-dark mb-5">
      <div class="card-body">
        <h4 style="font-weight: bold; text-align:center">Total pledged per mile: <%= number_to_currency(@event.total_pledge_amount) %></h4>
      </div>
    </div>

    <% @event.pledges.each do |pledge| %>
      <div class="card border-dark mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-7">
            <% if user_signed_in? && current_user.id == pledge.user.id %>
              <h4> You have pledged: <%= number_to_currency(pledge.amount) %> </h4>
            <% else %>
              <h4><%= pledge.user.username %> has pledged: <%= number_to_currency(pledge.amount) %> </h4>  
            <% end %>
            </div>
            <div class="col-sm-5 text-center pt-3">
              <% if user_signed_in? && current_user.id == pledge.user.id %>
                <%= link_to "Remove", pledge, method: :delete, data: { confirm: 'Are you sure you want to remove your pledge?'}, class: 'btn btn-danger btn-sm'%>       
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.id == @event.user.id %>
      <% if @event.event_completed_on.blank? %>
            <div class="d-grid gap-2 pt-5 pb-5 col-6 mx-auto">
              <%= link_to 'Mark as completed', mark_completed_path(@event), class: "btn btn-lg btn-dark" %>
            </div>
            <div class="d-grid gap-2 pt-5 pb-5 col-6 mx-auto">
              <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %>
            </div>
      <% end %>
    <% end %> 
    
  </div>
</div>
                  
 





    

       



